#emacs
.#*

#vscode
__latexindent_temp.tex
*.synctex.gz

#latex temporary
*.aux
*.log
*.toc
*.out
*.fls
*.xdv
*.acn
*.idx
*.ilg
*.ind
*.gls
*.xdy
*.alg
*.acr


# PDF
/*.pdf

# latexmk
*.texmk
*.fdb_latexmk


#BibTeX
*.bbl
*.blg

# mac
.DS_Store